{% extends "base.html" %}
{% block content %}
<div class="row">
	<div clas="col-sm-8 offset-sm-2">
		{%  if not request.GET.query%}
		<div>
			{% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' %}
		</div>
		<br>
		<br>
		{% endif %}
		<hr>
		{% for obj in object_list%}
		<div class="media">
			{% if obj.image %}
  				<img class="align-self-start mr-3" src="http://via.placeholder.com/64x64" alt="Generic placeholder image">
  			{% endif %}
			<div class="media-body">
    			<h5 class="mt-0">{{obj.user}}</h5>		
				<p>{{obj.content}}</p>
				<p><small><a href="{{obj.get_absolute_url}}">View</a> | {{obj.created | timesince}} ago</small></p>
				<hr>
				{% empty %}
				{% if request.GET.query %} 
				<li>Sorry, no tweets found matching this input.</li>
				{% else %}
				<li>No tweets yet.</li>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
